<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Awesome</title>
</head>
<body class="container">

<header>
    Grow Test - Backend with SWAPI API
</header>

<main>
    Hello world
</main>

</body>
</html>