<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Grow Test</title>
    </head>
    <body>

        <header>
            Grow Test - Backend with SWAPI API
        </header>

        <main>
            <h1>Characters<h1>
            <ul>
                <li><a href="/character/luke">Luke</a></li>
                <li><a href="/character/leia">Leia</a></li>
                <li><a href="/character/han">Han</a></li>
                <li><a href="/character/rey">Rey</a></li>
            </ul>

            <hr>

            <h1>Get raw JSON data for 50 characters:</h1>
            <ul>
                <li><a href="/characters?sort=name">Sorted by name</a></li>
                <li><a href="/characters?sort=mass">Sorted by mass</a></li>
                <li><a href="/characters?sort=height">Sorted by height</a></li>
            </ul>

            <h1>Get raw JSOn data for all 61 planets:</h1>
            <ul>
                <li><a href="/planetresidents">Planets & Residents</a></li>
            </ul>
        </main>

    </body>
</html>

